<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <style>
        body {
            background-color: #4CAF50; /* Fondo verde */
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .btn-regresar {
            padding: 10px 20px;
            background-color: #008CBA;
            color: white;
            border: none;
            cursor: pointer;
        }
        .btn-regresar:hover {
            background-color: #0077A1;
        }
    </style>
</head>
<body>
    <h1>¡Residuo Registrado Exitosamente!</h1>
    
    <br><br>
    <button class="btn-regresar" onclick="window.location.href='/registrar-residuo'">Registrar otro Residuo</button>

</body>
</html>
